---
import { NAV_FOOTER, SITE_TITLE } from '@/consts';
import { Zap } from 'lucide-vue-next';
import ModeToggle from '@/components/site/ModeToggle.vue';

const year = new Date().getFullYear();
---

<footer role="contentinfo">
	<div
		class="border-border border-t container flex flex-col gap-x-6 gap-y-4 items-center md:flex-row md:items-start md:justify-between mt-24 pt-12 text-center"
	>
		{
			NAV_FOOTER && (
				<nav>
					<ul class="flex flex-wrap gap-6">
						{NAV_FOOTER.map((item) => (
							<li>
								<a href={item.href}>{item.title}</a>
							</li>
						))}
					</ul>
				</nav>
			)
		}

		<div class="grid gap-2 md:gap-4">
			<!-- <div class="flex justify-end"> -->
			<div class="w-[120px] ml-4 md:justify-self-end">
				<ModeToggle client:load />
			</div>
			<p class="flex items-center gap-1">
				Copyright
				<Zap class="h-5 w-5 stroke-1.5 text-primary" :aria-label={SITE_TITLE} />
				{year}
			</p>
		</div>
	</div>
</footer>
